<div ng-cloak>
    <md-toolbar class="md-menu-toolbar" style="background: none; color: #bbb;">
        <div layout="row">
            <md-toolbar-filler layout layout-align="center center">
                <md-button class="md-icon-button" ng-click="openFilesMenu()">
                    <i class="material-icons">folder</i>
                </md-button>
            </md-toolbar-filler>

            <div layout="row" flex style="border-bottom: 2px solid: #555;">
                <div>
                    <h3 class="md-toolbar-tools text-light">main.js</h3>
                </div>

                <div flex></div>

                <md-menu>
                    <div layout="row" layout-align="center center" style="padding-right: 72px; color: #fff; cursor: pointer;" ng-click="$mdOpenMenu($event)">
                        <img class="md-avatar" src="http://placehold.it/200x200" style="height: 30px; border-radius: 100%;">
                        <span class="md-caption" style="padding-left: 10px; padding-right: 5px; font-weight: bold;">John Doe</span>
                        <i class="material-icons">expand_more</i>
                    </div>
                    <md-menu-content width="4">
                        <md-menu-item>
                            <md-button>
                                <md-icon md-menu-align-target>
                                    <i class="material-icons">highlight_off</i>
                                </md-icon>
                                Logout
                            </md-button>
                        </md-menu-item>
                        <!--<md-menu-item ng-repeat="item in [1, 2, 3]">
                            <md-button ng-click="ctrl.announceClick($index)">
                                <md-icon md-menu-align-target md-svg-icon="call:no-sim"></md-icon>
                                Option {{item}}
                            </md-button>
                        </md-menu-item>-->
                    </md-menu-content>
                </md-menu>

                <!--<md-icon md-menu-align-target>
                    <i class="material-icons">people</i>
                </md-icon>-->
            </div>
        </div>
    </md-toolbar>
</div>