<md-sidenav class="md-sidenav-left files" md-component-id="files" md-whiteframe="4">
	<md-toolbar>
		<h1 class="md-toolbar-tools text-light">
			<i class="material-icons">folder_open</i> Your Files
		</h1>
	</md-toolbar>
	<md-content layout-padding>
		<div layout="column" ng-repeat="file in files" ng-click="changeFile(file)">
			<div layout="row" layout-align="start center">
				<i class="devicon-{{findFileMetaByName(file.fileName).icon || findFileMetaByName(file.fileName).name}}-plain colored" style="font-size: 24px; padding: 0; margin-right: 10px;"></i>
				<span style="line-height: 24px; font-size: 14px;">{{file.fileName}}</span>
			</div>
			<md-divider style="margin-top: 10px;"></md-divider>
		</div>

		<div ng-if="!files.length">
			You have no files yet!
		</div>
	</md-content>
</md-sidenav>