<md-sidenav class="md-sidenav-left files" md-component-id="files" md-whiteframe="4">
    <md-toolbar>
        <h1 class="md-toolbar-tools text-light">
            <i class="material-icons">folder_open</i> Your Files
        </h1>
    </md-toolbar>
    <md-content layout-padding>
        <div layout="row" layout-align="start center">
            <i class="devicon-javascript-plain colored" style="font-size: 24px; padding: 0; margin-right: 10px;"></i>
            <span style="line-height: 24px; font-size: 14px;">main.js</span>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="start center">
            <i class="devicon-java-plain colored" style="font-size: 24px; padding: 0; margin-right: 10px;"></i>
            <span style="line-height: 24px; font-size: 14px;">test.java</span>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="start center">
            <i class="devicon-css3-plain colored" style="font-size: 24px; padding: 0; margin-right: 10px;"></i>
            <span style="line-height: 24px; font-size: 14px;">styles.css</span>
        </div>
        <md-divider></md-divider>
        <div layout="row" layout-align="start center">
            <i class="devicon-html5-plain colored" style="font-size: 24px; padding: 0; margin-right: 10px;"></i>
            <span style="line-height: 24px; font-size: 14px;">template.html</span>
        </div>
        <md-divider></md-divider>
    </md-content>

</md-sidenav>